body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.eroare{
    font-size: 3vh;
    color: #66FCF1;
    margin-left: 10vw;
    margin-top: 3vh;
}

/*       ----------------------------  main    ---------------------------------     */

main {
    margin-top: 15vh;
}

/*       ----------------------------  footer    ---------------------------------     */

footer{
    color: #45A29E;
    background: #000000;
    height: 15vh;
    width: 100%;
    bottom: 0;
    margin: 0;
    position: relative;
    text-align: center;
}

footer p{
    font-size: 10vh;
    margin: 0;
}

/*       ----------------------------  header    ---------------------------------     */

header {
    position: fixed;
    color: #45A29E;
    background: #000000;
    height: 15vh;
    width: 100%;
    text-align: center;
    top: 0;
    margin: 0;
    padding: 0;
}

header p {
    font-size: 10vh;
    margin: 0;
}

/*       ------------------------  meniu index page   -----------------------------     */

.meniu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #45A29E;
    background: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    font-size: 5vh;

}

.meniu li{
    float: left;
}

.meniu li a {
    display: block;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5vh;
    margin-top: 5vh;
    text-decoration: none;
    border-right: 2vh solid #000000;
    border-left: 2vh solid #45A29E;
}

li a:link {
    text-decoration: none;
    color: #45A29E;
}
  
li a:visited {
    text-decoration: none;
    color: #45A29E;
}
  
li a:hover {
    text-decoration: none;
    border-right-color: #45A29E;
    border-left-color: #000000;
    color: #1F2833;
}
  
li a:active {
    text-decoration: none;
    color: #1F2833;
}

/*       --------------------------  index page     -------------------------------     */

.div-img{
    color: #66FCF1;
    font-size: 15vh;
    height: 85vh;
    width: 100%;
    background-image: url("poza1.jpg");
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 5vh;
}

.div-text{
    background-image: linear-gradient(gray, #45A29E);
    width: 100%;
    height: 70vh;
    margin: 0;
    border-top: 1vh solid black;
    padding-top: 5vh;
}

.div-text p {
    margin: 0;
    font-size: 5vh;
    margin-left: 100px;
    margin-right: 100px;
}

.div-text h1{
    font-size: 8vh;
    text-align: center;
}

.div-text a{
    font-size: 5vh;
    margin-left: 100px;
    padding: 16px 20px;
    background-image: linear-gradient(to right, #66FCF1, #1F2833);
    border-radius: 12px;
    color: black;
}

.div-text a:link {
    text-decoration: none;
}
  
.div-text a:visited {
    text-decoration: none;
}
  
.div-text a:hover {
    text-decoration: none;
    background-image: linear-gradient(to left, #66FCF1, #1F2833);
}
  
.div-text a:active {
    text-decoration: none;
}

.clasament-index{
    background-color: #1F2833;
    width: 100%;
    height: 75vh;
    padding-top: 10vh;
    border-top: 1vh solid black;
}

.tabel-clasament-index{
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
}

.tabel-clasament-index td{
    padding: 8px;
    text-align: center;
}

.tabel-clasament-index tr:nth-child(even){
    background-color: white;
}

.tabel-clasament-index tr:hover {
    background-color: #66FCF1;
}

.tabel-clasament-index tr:nth-child(odd){
    color: #66FCF1;
}

.tabel-clasament-index tr:nth-child(odd):hover{
    color: black;
}

.tabel-clasament-index th {
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: #45A29E;
    font-size: 3vh;
}

/*     --------------------------------      login/register    -----------------------------------       */

.main-login{
    margin-top: 15vh;
    background-color: #1F2833;
    width: 100%;
    height: 75vh;
    padding-top: 10vh;
}

.main-register{
    margin-top: 15vh;
    background-color: #1F2833;
    width: 100%;
    height: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.submit{
    display: inline-block;
    border-radius: 4px;
    background-color: #45A29E;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 10vw;
    text-decoration: none;
}

.submit:hover{
    background-image: linear-gradient(to right, #45A29E, #1F2833);
}

.submit span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.submit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.submit:hover span {
    padding-right: 25px;
}
  
.submit:hover span:after {
    opacity: 1;
    right: 0;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #66FCF1;
    border-radius: 4px;
    font-size: 3vh;
    color: #45A29E;
    margin-left: 10vw;
}

input[type=date]{
    margin-left: 10vw;
}

input[type=radio]{
    margin-left: 10vw;
    font-size: 3vh;
    color: #45A29E;
    
}

.gen{
    margin-left: 0;
}

label{
    font-size: 3vh;
    color: #66FCF1;
    margin-left: 10vw;
}

.back {
    width: 50px;
    height: 50px;
    transform: scaleX(-1);
}

/*     -------------------------------     first page       ----------------------------         */

.first-page-main{
    margin-top: 15vh;
    background-color: #1F2833;
    width: 50%;
    height: 75vh;
    padding-top: 10vh;
    display: inline-block;
}

.clasament{
    margin-top: 15vh;
    background-color: #1F2833;
    width: 50%;
    height: 75vh;
    padding-top: 10vh;
    float: right;
}

.tabel-clasament{
    border-collapse: collapse;
    width: 70%;
}

.tabel-clasament td{
    padding: 8px;
    text-align: center;
}

.tabel-clasament tr:nth-child(even){
    background-color: white;
}

.tabel-clasament tr:hover {
    background-color: #66FCF1;
}

.tabel-clasament tr:nth-child(odd){
    color: #66FCF1;
}

.tabel-clasament tr:nth-child(odd):hover{
    color: black;
}

.tabel-clasament th {
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: #45A29E;
    font-size: 3vh;
}

.user{
    color: #66FCF1;
    font-size: 3vh;
    margin-top: 5vh;
    margin-left: 10vw;
}

/*     -------------------------------     generate page       ----------------------------         */

.generate-main{
    padding-top: 10vh;
    margin-top: 15vh;
    height: auto;
    width: 100%;
    background-color: #1F2833;
}

.nume{
    font-size: 5vh;
    color: #66FCF1;
    margin-left: 10vw;
}

.descriere{
    font-size: 3vh;
    color: #45A29E;
    margin-left: 15vw;
    margin-right: 15vw;
}

.descriere:last-child{
    margin-bottom: 0;
}

.imagine-generata{
    height: 200px;
    width: 200px;
    margin-left: 15vw;
}

/*     -------------------------------     felicitari page       ----------------------------         */

.felicitari-main{
    padding-top: 10vh;
    margin-top: 15vh;
    height: 75vh;
    width: 100%;
    background-color: #1F2833;
}

.felicitari-text{
    font-size: 5vh;
    color: #45A29E;
    margin-left: 10vh;
}

.felicitari-main a{
    text-decoration: none;
}

/*     --------------------------------      login/register    -----------------------------------       */

.main-incalzire{
    padding-top: 10vh;
    margin-top: 15vh;
    height: auto;
    width: 100%;
    padding-bottom: 10vh;
    background-color: #1F2833;
}

.incalzire-titlu{
    font-size: 5vh;
    color: #66FCF1;
    margin-left: 10vw;
    margin-right: 10vw;
}

.incalzire-subtitlu{
    font-size: 3vh;
    color: #66FCF1;
    margin-left: 10vw;
    margin-right: 10vw;
}

.incalzire-text{
    font-size: 3vh;
    color: #45A29E;
    margin-left: 10vw;
    margin-right: 10vw;
}

.main-incalzire a{
    font-size: 5vh;
    margin-left: 10vw;
    padding: 16px 20px;
    background-image: linear-gradient(to right, #66FCF1, #1F2833);
    border-radius: 12px;
    color: black;
}

.main-incalzire a:link {
    text-decoration: none;
}
.main-incalzire a:visited {
    text-decoration: none;
}
  
.main-incalzire a:hover {
    text-decoration: none;
    background-image: linear-gradient(to left, #66FCF1, #1F2833);
}
  
.main-incalzire a:active {
    text-decoration: none;
}