body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*       ----------------------------  footer    ---------------------------------     */

footer{
    color: #45A29E;
    background: #000000;
    height: 15vh;
    width: 100%;
    bottom: 0;
    margin: 0;
    position: relative;
    text-align: center;
}

footer p{
    font-size: 10vh;
    margin: 0;
}

/*       ----------------------------  header    ---------------------------------     */

header {
    position: -webkit-sticky;
    position: sticky;
    color: #45A29E;
    background: #000000;
    height: 15vh;
    width: 100%;
    font-size: 4vh;
    top: 0;
}

/*       ------------------------  meniu index page   -----------------------------     */

.meniu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #45A29E;
    background: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    font-size: 5vh;

}

.meniu li{
    float: left;
}

.meniu li a {
    display: block;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5vh;
    margin-top: 5vh;
    text-decoration: none;
    border-right: 2vh solid #000000;
    border-left: 2vh solid #45A29E;
}

li a:link {
    text-decoration: none;
    color: #45A29E;
}
  
li a:visited {
    text-decoration: none;
    color: #45A29E;
}
  
li a:hover {
    text-decoration: none;
    border-right-color: #45A29E;
    border-left-color: #000000;
    color: #1F2833;
}
  
li a:active {
    text-decoration: none;
    color: #1F2833;
}

/*       ----------------------------  main    ---------------------------------     */

main {
    margin-top: 15vh;
}

/*       --------------------------  index page     -------------------------------     */

.div-img{
    color: #66FCF1;
    font-size: 15vh;
    height: 85vh;
    width: 100%;
    background-image: url("poza1.jpg");
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 5vh;
}

.div-text{
    background-image: linear-gradient(gray, #45A29E);
    width: 100%;
    height: 70vh;
    margin: 0;
    border-top: 1vh solid black;
    padding-top: 5vh;
}

.div-text p {
    margin: 0;
    font-size: 5vh;
    margin-left: 100px;
    margin-right: 100px;
}

.div-text h1{
    font-size: 8vh;
    text-align: center;
}

.div-text a{
    font-size: 5vh;
    margin-left: 100px;
    padding: 16px 20px;
    background-image: linear-gradient(to right, #66FCF1, #1F2833);
    border-radius: 12px;
    color: black;
}

.div-text a:link {
    text-decoration: none;
}
  
.div-text a:visited {
    text-decoration: none;
}
  
.div-text a:hover {
    text-decoration: none;
    background-image: linear-gradient(to left, #66FCF1, #1F2833);
    transition: 1;
}
  
.div-text a:active {
    text-decoration: none;
}

/*     --------------------------------      login/register    -----------------------------------       */

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #66FCF1;
    border-radius: 4px;
    font-size: 3vh;
    color: #45A29E;
    margin-left: 10vw;
}

input[type=date]{
    margin-left: 10vw;
}

input[type=radio]{
    margin-left: 10vw;
    font-size: 3vh;
    color: #45A29E;
    
}

.gen{
    margin-left: 0;
}

label{
    font-size: 3vh;
    color: #66FCF1;
    margin-left: 10vw;
}

.back {
    width: 50px;
    height: 50px;
    position: absolute;
    transform: scaleX(-1);
}

.errorRegisterForm{
    font-size: 3vh;
    color: #66FCF1;
    margin-left: 10vw;
}

/*     -------------------------------     first page       ----------------------------         */

.buton1{
    color: #1F2833;
    font-size: 2vh;
    padding: 10px 20px;
    border: 5px solid #45A29E;
    background-color: #66FCF1;
    margin-left: 10vw;
}

.subtitle{
    display: inline-block;
    color: #1F2833;
    font-size: 3vh;
    padding: 30px 50px;
    border: 5px solid #45A29E;
    background-color: #66FCF1;
    margin-left: 10vw;
    margin-top: 10px;
}

.subtitle:hover{
    border: 5px solid #45A29E;
    background-color: #1F2833;
    color: #66FCF1
}

.locatii{
    font-size: 5vh;
    color: #66FCF1;
    border: 5px solid #45A29E;
    background-color: #1F2833;
    padding: 10px 20px;
    text-align: center;
}

.ex-loc{
    color: #45A29E;
    margin-left: 10vw;
}

.ex-img{
    margin-left: 10vw;
}

.desc{
    margin-left: 10vw;
    color: #66FCF1;
    font-size: 3vh;
}