body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #1F2833;
}

header {
    position: relative;
    color: #45A29E;
    background: #000000;
    height: 15vh;
    min-width: 500px;
    width: 100%;
    font-size: 4vh;
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a {
    display: block;
    text-align: center;
    margin-top: 5.5vh;
    margin-left: 5vh;
    text-decoration: none;
    border-left: 1vh solid #000000;
    border-right: 1vh solid #45A29E;
}

li:last-child{
    float: right;
}

.logo-img{
    width: 15vh;
    height: 15vh;
}

li a:link {
    text-decoration: none;
    color: #45A29E;
}
  
li a:visited {
    text-decoration: none;
    color: #45A29E;
}
  
li a:hover {
    text-decoration: none;
    border-left-color: #45A29E;
    border-right-color: #000000;
    color: #1F2833;
}
  
li a:active {
    text-decoration: none;
    color: #45A29E;
}

main {
    position: relative;
}

/*       ----------------------------  index      ---------------------------------     */

.div-img{
    position: relative;
    width: 25%;
    height: 40vh;
    min-height: 300px;
    min-width: 200px;
    display: block;
    float: left;
}

.div-img img {
    opacity: 1;
    transition: 1s ease;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    min-height: 0px;
    min-width: 0px;
}

.mid {
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.div-img:hover img {
    opacity: 0.3;
}

.div-img:hover .mid {
    opacity: 1;
}

.div-txt{
    background-color: #45A29E;
    color: #1F2833;
    font-size: 16px;
    padding: 16px 16px;
    border-radius: 50%;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: none;
}

.link-main, .link-main:link, .link-main:visited, .link-main:active{
    display: inline-block;
    color: #1F2833;
    font-size: 3vh;
    padding: 30px 50px;
    border: 5px solid #45A29E;
    background-color: #66FCF1;
    margin-left: 20vw;
    margin-top: 10px;
}

.link-main:hover{
    border: 5px solid #45A29E;
    background-color: #1F2833;
    color: #66FCF1
}

/*     --------------------------------      login/register    -----------------------------------       */

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #66FCF1;
    border-radius: 4px;
    font-size: 3vh;
    color: #45A29E;
    margin-left: 10vw;
}

input[type=date]{
    margin-left: 10vw;
}

input[type=radio]{
    margin-left: 10vw;
    font-size: 3vh;
    color: #45A29E;
    
}

.gen{
    margin-left: 0;
}

label{
    font-size: 3vh;
    color: #66FCF1;
    margin-left: 10vw;
}

.back {
    width: 50px;
    height: 50px;
    position: absolute;
    transform: scaleX(-1);
}

.errorRegisterForm{
    font-size: 3vh;
    color: #66FCF1;
    margin-left: 10vw;
}

/*     -------------------------------     first page       ----------------------------         */

.buton1{
    color: #1F2833;
    font-size: 2vh;
    padding: 10px 20px;
    border: 5px solid #45A29E;
    background-color: #66FCF1;
    margin-left: 10vw;
}

.subtitle{
    display: inline-block;
    color: #1F2833;
    font-size: 3vh;
    padding: 30px 50px;
    border: 5px solid #45A29E;
    background-color: #66FCF1;
    margin-left: 10vw;
    margin-top: 10px;
}

.subtitle:hover{
    border: 5px solid #45A29E;
    background-color: #1F2833;
    color: #66FCF1
}

.locatii{
    font-size: 5vh;
    color: #66FCF1;
    border: 5px solid #45A29E;
    background-color: #1F2833;
    padding: 10px 20px;
    text-align: center;
}

.ex-loc{
    color: #45A29E;
    margin-left: 10vw;
}

.ex-img{
    margin-left: 10vw;
}

.desc{
    margin-left: 10vw;
    color: #66FCF1;
    font-size: 3vh;
}